body{
background-color:#E5E4E2;
}
.banner{
    background-color:#D0A9F5;
    width:110%;
    height:100px;
    margin-bottom:50px;
}
.banner-text{
    top:20px;
    left:80px;
    position:absolute;
    transform:transform;
}
h1{
color:white;
}